<div class="right">
  <div class="search">
    <input type="text" class="search-input"
           <% if search_params %>
           value="<%= search_params %>"
           <% end %>
           placeholder="搜索文章" name="search"/>
    <i class="icon">
      &#xe601;
    </i>
  </div>
  <div class="tag-nav function-block">
    <h3>All标签</h3>
    <div class="content">
      <ul>
        <%= all_tags.each_slice(4) do |v| %>
            <li>
              <% v.each do |tag| %>
                  <a href="/?tag=<%= tag[0] %>">#<%= tag[0] %>(<%= tag[1] %>)</a>
              <% end %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="dote function-block">
    <h3>人气最高</h3>
    <div class="content">
      <ul>
        <% favorite.each do |article| %>
            <li>
              <a href="<%= url_for article %>"><%= article.title %></a>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>