<% content_for :javascript_pre_page do %>
    <%= javascript_include_tag 'edit', 'data-turbolinks-track' => true %>
<% end %>
<%= form_for @article, html: {class: 'pure-form pure-form-stacked'} do |f| %>
    <fieldset>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'pure-input-1-3' %>
      <%= f.label :tags %>
      <%= f.text_field :tags, class: 'pure-input-1-3' %>
      <%= f.label :content_md %>
      <%= f.text_area :content_md, class: 'pure-input-2-3', rows: '24' %>
      <div style="margin-top: 20px">
        <a href="javascript:;" id="submit-btn" class="pure-button pure-button-primary">提交</a>
        <a href="javascript:;" id="preview-btn" class="pure-button pure-button-second ml10">预览</a>
        <a href="javascript:;" target="_blank" style="display: none" id="preview-click-btn">跳转</a>
      </div>
    </fieldset>
<% end %>

<%= render 'share/file_up' %>