<% if !tag_params&&!search_params %>
    <%= render 'share/banner' %>
<% end %>

<div class="main">
  <div class="left">

    <% if tag_params %>
        <div class="tag-tips">
          <i class="icon">&#xe604</i>
          当前标签:
          <a href="#">#<%= tag_params %></a>
        </div>
    <% end %>

    <% @articles.each do |article| %>
        <div class="post">
          <h2 class="title">
            <a href="<%= url_for article %>">
              <%= article.title %>
            </a>
          </h2>
          <div class="info">
            <div class="date">
              <i class="icon">&#xe600;</i><%= simple_date(article.created_at) %>
            </div>
            <div class="tag">
              <i class="icon">&#xe602;</i>
              <% article.tags.split(',').each do |tag| %>
                  <span><a href="?tag=<%= tag %>">#<%= tag %></a></span>
              <% end %>
            </div>
          </div>
          <p class="short">
            <a href="<%= url_for article %>">
              <%= simple_content(article.content) %>
            </a>

          </p>
          <div class="btn-group">
            <a href="<%= url_for article %>" class="link-btn">阅读全文</a>
            <!--<a href="<%= url_for article %>" class="link-btn">评论 (5)</a>-->
            <% if admin? %>
                <%= link_to '编辑', edit_article_path(article), class: 'link-btn' %>
                <%= link_to '删除', article_path(article), class: 'link-btn', method: :delete, data: {confirm: '确认删除?'} %>
            <% end %>
          </div>
        </div>
    <% end %>
    <%= render 'share/paging', :paging => page_info(@articles) %>
  </div>
  <%= render 'share/side' %>
</div>
<%= render 'share/ad' %>
