<% if admin? || !@article.secret %>
    <div class="main">
      <div class="left">
        <div class="post">
          <h2 class="title">
            <a href="<%= url_for @article %>">
              <%= @article.title %>
            </a>
          </h2>
          <div class="info">
            <div class="date">
              <i class="icon">&#xe600;</i><%= simple_date(@article.created_at) %>
            </div>
            <div class="tag">
              <i class="icon">&#xe602;</i>

              <% @article.tags.split(',').each do |tag| %>
                  <span><a href="/?tag=<%= tag %>">#<%= tag %></a></span>
              <% end %>

            </div>
          </div>
          <div class="post-content markdown-body">
            <%= @article.content.html_safe %>
          </div>

          <% unless preview? %>
              <div class="btn-group">
                <% if admin? %>
                    <%= link_to '编辑', edit_article_path(@article), class: 'link-btn' %>
                    <%= link_to '删除', article_path(@article), class: 'link-btn', method: :delete, data: {confirm: '确认删除?'} %>
                <% end %>
              </div>
          <% end %>
        </div>
        <div class="comment"></div>
      </div>
      <%= render 'share/side' %>
    </div>
<% else %>
    <p style="text-align: center;">私密文章!</p>
<% end %>