<div class="main">
  <div class="left">
    <div class="post">
      <div class="post-content markdown-body">
        <%= @article.content.html_safe %>
      </div>
      <div class="ds-share flat" data-thread-key="<%= @article.id %>" data-title="<%= @article.title %>" data-content="<%= simple_content(@article.content) %>" data-url="<%= url_for :only_path => false %>">
        <div class="ds-share-inline">
          <ul class="ds-share-icons-16">
            <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
            <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
            <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
            <li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt">腾讯微博</a></li>
            <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>

          </ul>
          <div class="ds-share-icons-more">
          </div>
        </div>
      </div>

      <% unless preview? %>
          <div class="btn-group">
            <% if admin? %>
                <%= link_to '编辑', edit_article_path(@article), class: 'link-btn' %>
                <%= link_to '删除', article_path(@article), class: 'link-btn', method: :delete, data: {confirm: '确认删除?'} %>
            <% end %>
          </div>
      <% end %>
    </div>

    <div class="comment">
      <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key="<%= @article.id %>" data-title="<%= @article.title %>" data-url="<%= url_for :only_path => false %>"></div>
    </div>
  </div>
  <%= render 'share/side' %>
</div>
<%= render 'share/ad' %>