<div class="main">
  <div class="left">
    <div class="post">
      <div class="post-content markdown-body">
        <%= @article.content.html_safe %>
      </div>
      <% unless preview? %>
          <div class="btn-group">
            <% if admin? %>
                <%= link_to '编辑', edit_article_path(@article), class: 'link-btn' %>
                <%= link_to '删除', article_path(@article), class: 'link-btn', method: :delete, data: {confirm: '确认删除?'} %>
            <% end %>
          </div>
      <% end %>
    </div>

    <div class="comment">
      <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key="<%= @article.id %>" data-title="<%= @article.title %>" data-url="<%= url_for :only_path => false %>"></div>
    </div>
  </div>
  <%= render 'share/side' %>
</div>
<%= render 'share/ad' %>