<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>gongwei.xyz</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= yield :javascript_pre_page %>
</head>
<body>

<% if flash[:notice] || flash[:error] %>
    <div class="flash-notice">
      <div class="notice"><%= flash[:notice] %></div>
      <div class="error"><%= flash[:error] %></div>
    </div>
<% end %>
<%= render 'share/menu' %>
<%= yield %>
<div class="to-top-btn">
  <i class="icon">&#xe603;</i>
</div>
</body>
</html>