<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=768,user-scalable=no">
  <meta name="baidu-site-verification" content="2xD9fRQ6qk" />
  <title>gongeek.com</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
</head>
<body>

<% if flash[:notice] || flash[:error] %>
    <div class="flash-notice">
      <div class="notice"><%= flash[:notice] %></div>
      <div class="error"><%= flash[:error] %></div>
    </div>
<% end %>
<%= render 'share/menu' %>
<%= yield %>
<div class="to-top-btn">
  <i class="icon">&#xe603;</i>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= yield :javascript_pre_page %>
<script src="http://s95.cnzz.com/z_stat.php?id=1258820262&web_id=1258820262" language="JavaScript"></script>
</body>
</html>